main {
  background: #000000 linear-gradient(
      to bottom,
      #000000 70%,
      rgba(0, 30, 60, 1) 100%
  );
  display: flex;
  flex-direction: column;
  color: #ffffff;

  /* Garante que ocupe a tela toda, mas sem passar disso */
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem lateral */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Se o conteúdo crescer, a rolagem fica SÓ aqui dentro */
}
