main {
  background: #000000 linear-gradient(
      to bottom,
      #000000 70%,
      rgba(0, 30, 60, 1) 100%
  );
  display: flex;
  flex-direction: column;
  color: #ffffff;

  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
